.top-button {
  background-color: #637d5a;
  border-bottom-right-radius:5px;
  color: white;
  margin-left: 10px;


}

.left{
  margin-left: 12px;
}

.button-2 {
  background-color: #ca743b;
  color: white;
}

.menu-background {
  background-color: #d3d3d3;
}
